! base colors
*background: #0f0f0f
*foreground: #f0f0f0

! black
*color0:     #262626
*color8:     #4c4c4c

! pink
*color1:     #ac8a8c
*color9:     #c49ea0

! green
*color2:     #8aac8b
*color10:    #9ec49f

! yellow
*color3:     #aca98a
*color11:    #c4c19e

! purple
*color4:     #8f8aac
*color12:    #a39ec4

! pink
*color5:     #ac8aac
*color13:    #c49ec4

! blue
*color6:     #8aabac
*color14:    #9ec3c4

! white
*color7:     #e7e7e7
*color15:    #f5f5f5

